<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <form action="/login" method='post'>
    <input type="text" name='user[email]'>
    <input type="password" name='user[password]'>
    <button>Login</button>
  </form>

  <form action="/sign_in" method='post'>
    <input type="text" name='user[email]'>
    <input type="password" name='user[password]'>
    <button>Sign in</button>
  </form>
</div>
